@font-face {
    font-family: "DIN Neuzeit Grotesk";
    src: url('font/DINNeuzeitGroteskLT-Light.woff2') format('woff2');
}

html, body { 
    font-family: sans-serif; 
    background: #22242D;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;   
    padding: 0; 
    color: white;
    font-family: "DIN Neuzeit Grotesk", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 3;
    background-color: #22242D;
}

.ableton-logo-and-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.7rem 0.7rem 0.7rem 0.8rem;
}

#title {
    font-size: 2rem;
}

.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 1.5rem;
}

.chatbox-area{
    flex: 11;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0.8rem 0rem 0.8rem;
}

#chatbox { 
    border: 1px solid #ccc; 
    padding: 1rem; 
    overflow-y: auto; 
    flex: 8;
    background-color: #42444F;
}

.input-area {
    flex: 1;
    display: flex;
    align-items:center;
    color: white;
    margin: 0.3rem 0rem 0rem 0rem;
}

#msg {
    flex: 19;
    background-color: #494B57;
    color: white;
}

.user { 
    color: blue; 
    margin: 0.5rem -0.5rem; 
    padding: 0.2rem;
    background-color: red;
}

.bot { 
    color: green; 
    margin: 0.5rem -0.5rem; 
    padding: 0.2rem;
    background-color: yellow;
}

#sendButton { 
    flex: 1;
    color: white;
    background-color: #494B57;
}

.footer {
    flex: 0;
    display: flex;
    align-items: end;
    background-color: #22242D;
}

#copyright {
    margin-left: 0.7rem;
    font-size: 0.8rem;
}

