html, body { 
    font-family: sans-serif; 
    background: #fafafa; 
    padding: 0.5rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
}




button { 
    padding: 8px 12px; 
}

.user { 
    color: blue; 
    margin: 5px 0; 
}

.bot { 
    color: green; 
    margin: 5px 0; 
}

.header {
    display: flex;
    justify-content: space-between;
    flex-grow: 3;

}

.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ableton-logo-and-title {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#title {
    font-size: 2rem;
}

.chatbox-area{
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

#chatbox { 
    border: 1px solid #ccc; 
    padding: 1rem; 
    overflow-y: auto; 
    background: white; 
    flex: 4;
}

.footer {
    flex-grow: 1;
    display: flex;
    align-items: end;
}

.input-area {
    display: flex;
    align-items:center;
    flex: 1;
}

#msg {
    flex: 1;
}